@page "/"

<MudText Typo="Typo.h3" GutterBottom="true">Dashboard de Nómina</MudText>
<MudText Class="mb-8">Bienvenido al sistema de control de nómina Gestiona360 Payroll.</MudText>

<MudGrid>
    <MudItem xs="12" sm="6" md="4">
        <MudPaper Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
            <MudIcon Icon="@Icons.Material.Filled.People" Color="Color.Primary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
            <div>
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary">Empleados Activos</MudText>
                <MudText Typo="Typo.h4">142</MudText>
            </div>
        </MudPaper>
    </MudItem>
</MudGrid>
